{% extends "sfapp/base-full.html" %}

{% block css %}
<style>

    form fieldset {
        margin-bottom: 2em;
    }

    .help-inline, .help-block {
        font-style: italic;
    }

</style>
{% endblock css %}

{% block content %}
    <h2>An example FCC Form</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, odit, repellat, totam, cum molestias sed asperiores vero officia magnam animi hic nemo optio corporis sit id vitae eligendi provident! Laborum.</p>
    <form id="fcc_form" method="post" action=".">
        <fieldset>
            <legend>Purchase information</legend>
            <div class="control-group">
                <label for="purchase_approved">Purchase approved?</label>
                <input name="purchase_approved" type="checkbox" checked>
                <span class="help-inline">Was the request to purchase broadcast time accepted or rejected?</span>
            </div>
            <div class="control-group">
                <label class="control-label" for="contract_amount">Total Amount</label>
                <div class="input-prepend">
                    <span class="add-on">$</span>
                    <input class="span2" name="contract_amount" type="number" placeholder="0000.00" required>
                </div>
                <span class="help-block">The total amount charged for the broadcast time.</span>
            </div>
            <span class="help-block">Pursuant to 47 U.S.C. 315(e)(2)(A) &amp; 47 U.S.C. 315(e)(2)(B)</span>
        </fieldset>
        <div class="row">
            <fieldset class="span5">
                <legend>Subject of ad: Candidate, Issue, or Election</legend>
                <div class="control-group">
                    <label class="control-label" for="advertisement_subject">Advertisement subject</label>
                    <select name="advertisement_subject" id="advertisement_subject" required>
                        <option value="" selected> ------------ </option>
                        <option value="candidate">Candidate</option>
                        <option value="issue">Issue</option>
                        <option value="election">Election</option>
                    </select>
                </div>
                <div class="control-group">
                    <label class="control-label" for="candidate_name">Name</label>
                    <div class="input-prepend">
                        <input name="candidate_name" class="span2" type="text" placeholder="Enter candidate, issue, or election name" required>
                    </div>
                </div>
                <div id="form_candidate_extras" class="control-group">
                    <div class="control-group">
                        <label class="control-label" for="office_sought">Office sought</label>
                        <input name="office_sought" class="span5" type="text" placeholder="Enter office sought">
                    </div>
                </div>
    {#             <div class="control-group">
                    <label class="control-label" for="advertiser_name">Office Sought or Issue</label>
                    <input name="advertiser_name" class="span5" type="text" placeholder="Enter candidate name or legislative issue" required>
                </div>
     #}
                <span class="help-block">Pursuant to 47 U.S.C. 315(e)(2)(F): "the name of the candidate to which the communication refers and the office to which the candidate is seeking election, the election to which the communication refers, or the issue to which the communication refers (as applicable)"</span>
            </fieldset>
            <fieldset class="span5 offset1">
                <legend>Ad purchaser</legend>
                <div class="control-group">
                    <label class="control-label" for="advertiser_name">Ad purchaser</label>
                    <input name="advertiser_name" class="span5" type="text" placeholder="Name of the person/organization purchasing the time" required>
                </div>
                <div class="control-group">
                    <label class="control-label" for="advertiser_contact_name">Contact name</label>
                    <input name="advertiser_contact_name" class="span5" type="text" placeholder="Enter name of contact person for ad purchaser" required>
                </div>
                <div class="control-group">
                    <label class="control-label" for="advertiser_contact_address">Contact address</label>
                    <input name="advertiser_contact_address" class="span6" type="text" placeholder="227 Madeuppington Boulevard, Suite 2121, Washington, D.C. 20009" required>
                </div>
                <div class="control-group">
                    <label class="control-label" for="advertiser_contact_phone">Contact phone number</label>
                    <input name="advertiser_contact_phone" class="span2" type="text" placeholder="XXX-XXX-XXXX" required>
                </div>
                <span class="help-block">Pursuant to 47 U.S.C. 315(e)(2)(G)</span>
            </fieldset>
        </div>
    </form>
{% endblock content %}
